[package]
name = "visualizer"
version = "0.1.0"
edition = "2024"

[dependencies]
bincode = "2.0.1"
num-bigint = "0.4.6"
num-integer = "0.1.46"
num-traits = "0.2.19"
rand = "0.9.2"
serde = "1.0.228"
serde_json = "1.0.145"
sha2 = "0.10.9"
